body {
    margin: 0;

    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fbatakita.com%2F2023%2F09%2F09%2Fkesenian-suku-nias-keindahan-yang-mempesona-dari-pulau-karang%2F&psig=AOvVaw2-TiXOulgCyHSWgDm045Ng&ust=1772556294471000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPD19cjVgZMDFQAAAAAdAAAAABAR");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
